{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [2,4, {"SwitchCase": 1}],
        "id-length": 0,
        "func-names": 0,
        "spaced-comment": 0,
        "no-unused-expressions": 0,
        "one-var": 0,
        "strict": 1
    }
}
