@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.NameInput {
  max-width: 400px;
  margin: auto;
}

.Login {
  text-align: center;
  > form {
    padding-top: 8em;
  }
}

.MessageBox {
  position: absolute;
  z-index: 1000;
  width: 25%;
  padding: 10px;
  > p {
    margin-bottom: 5px;
  }
}

.World__viewport {
  position: absolute;
}
